:host {
    height: 56px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #6e8fe7;
}
