:host {
    height: 56px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3578f6;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
}

.greeting {
    white-space: nowrap;
    color: #818181;
    font-weight: 300;
}
