<div class="container">
    <div class="description">
        <h1 routerLink="/">Пиздодел</h1>
        <p>
            Я хз что тут написать, но
            <strong>можно и жирным</strong>
        </p>
    </div>
    <form [formGroup]="form" class="form">
        <app-input-control
            formControlName="email"
            type="email"
            placeholder="Email"
        >
        </app-input-control>

        <app-input-control
            formControlName="password"
            type="password"
            autocomplete="password"
            placeholder="Введите пароль"
        >
        </app-input-control>

        <app-button buttonType="submit" (click)="login()" size="lg">
            Войти</app-button
        >
        <app-button
            buttonType="link"
            size="lg"
            routerLink="/auth/register"
            appearance="flat"
        >
            Создать аккаунт
        </app-button>
    </form>
</div>
