<div class="container">
    <div class="description">
        <h1 routerLink="/">Хаусер</h1>
        <p>Домашнаяя система контроля за всем</p>
    </div>
    <form [formGroup]="form" class="form">
        <div>
            <input
                formControlName="email"
                class="input"
                type="email"
                lang="en"
                placeholder="Email"
                [class.error]="checkErrorState(form.controls.email)"
            />
            <p
                class="input-error"
                [class.visible]="checkErrorState(form.controls.email)"
            >
                Это обязательное поле
            </p>
        </div>

        <div>
            <input
                formControlName="password"
                name="password"
                class="input"
                type="password"
                autocomplete="password"
                placeholder="Введите пароль"
                [class.error]="checkErrorState(form.controls.password)"
            />
            <p
                class="input-error"
                [class.visible]="checkErrorState(form.controls.password)"
            >
                Это обязательное поле
            </p>
        </div>

        <app-button buttonType="submit" (click)="login()" size="lg">
            Войти</app-button
        >
        <app-button
            buttonType="link"
            size="lg"
            routerLink="/auth/register"
            appearance="flat"
        >
            Создать аккаунт
        </app-button>
    </form>
</div>
