<app-header></app-header>
<div class="controls">
    <app-button>Создать задачу <i class="fa-solid fa-plus"></i></app-button>
    <app-button appearance="flat">Выбрать эпик - Основное</app-button>
</div>
<div class="columns-container">
    <ng-container *ngIf="tasks$ | async as tasks">
        <ng-container *ngFor="let column of columns$ | async">
            <app-kanban-column
                [column]="column"
                [tasks]="tasks"
            ></app-kanban-column>
        </ng-container>
    </ng-container>
</div>
