:host {
    display: block;
    height: 100%;
}

.columns-container {
    max-height: 100%;
    display: flex;
    justify-content: stretch;
}

.controls {
    border-bottom: 1px solid #eaeaea;
    padding: 8px 10px;
    display: flex;
    gap: 16px;
}
