<div class="container">
    <div class="description">
        <h1 routerLink="/">Пиздодел</h1>
        <p>
            Я хз что тут написать, но
            <strong>можно и жирным</strong>
        </p>
    </div>
    <form class="form" [formGroup]="form">
        <div class="input-group">
            <app-input-control autocomplete="given-name" formControlName="name" placeholder="Имя"></app-input-control>

            <app-input-control
                autocomplete="family-name"
                formControlName="surname"
                placeholder="Фамилия"
            ></app-input-control>
        </div>

        <app-input-control formControlName="nickname" placeholder="Придумайте ник"></app-input-control>

        <app-input-control formControlName="email" placeholder="Email" type="email"></app-input-control>

        <app-input-control
            autocomplete="new-password"
            formControlName="password"
            placeholder="Введите пароль"
            type="password"
        ></app-input-control>

        <app-input-control
            autocomplete="new-password"
            formControlName="passwordRepeat"
            placeholder="Повторите пароль"
            type="password"
        ></app-input-control>

        <app-button buttonType="submit" size="l" (click)="register()">Зарегистрироваться</app-button>

        <app-button appearance="outline" buttonType="button" routerLink="/auth/login" size="l">
            Уже есть аккаунт?
        </app-button>
    </form>
</div>
