<div class="container">
    <div class="description">
        <h1 routerLink="/">Хаусер</h1>
        <p>Домашнаяя система контроля за всем</p>
    </div>
    <form [formGroup]="form" class="form">
        <div class="input-group">
            <div>
                <input
                    formControlName="name"
                    class="input"
                    type="text"
                    placeholder="Имя"
                    [class.error]="checkErrorState(form.controls.name)"
                />
                <p
                    class="input-error"
                    [class.visible]="checkErrorState(form.controls.name)"
                >
                    Это обязательное поле
                </p>
            </div>

            <div>
                <input
                    formControlName="surname"
                    class="input"
                    type="text"
                    placeholder="Фамилия"
                    [class.error]="checkErrorState(form.controls.surname)"
                />
                <p
                    class="input-error"
                    [class.visible]="checkErrorState(form.controls.surname)"
                >
                    Это обязательное поле
                </p>
            </div>
        </div>
        <div>
            <input
                formControlName="nickname"
                class="input"
                type="text"
                lang="en"
                placeholder="Придумайте ник"
                [class.error]="checkErrorState(form.controls.nickname)"
            />
            <p
                class="input-error"
                [class.visible]="checkErrorState(form.controls.nickname)"
            >
                Это обязательное поле
            </p>
        </div>

        <div>
            <input
                formControlName="email"
                class="input"
                type="email"
                lang="en"
                placeholder="Email"
                [class.error]="checkErrorState(form.controls.email)"
            />
            <p
                class="input-error"
                [class.visible]="checkErrorState(form.controls.email)"
            >
                Это обязательное поле
            </p>
        </div>

        <div>
            <input
                formControlName="password"
                name="new-password"
                class="input"
                type="password"
                autocomplete="new-password"
                placeholder="Введите пароль"
                [class.error]="checkErrorState(form.controls.password)"
            />
            <p
                class="input-error"
                [class.visible]="checkErrorState(form.controls.password)"
            >
                Это обязательное поле
            </p>
        </div>

        <div>
            <input
                formControlName="passwordRepeat"
                name="new-password-repeat"
                class="input"
                type="password"
                autocomplete="new-password"
                placeholder="Повторите пароль"
                [class.error]="
                    checkErrorState(form.controls.passwordRepeat) ||
                    checkPasswordError()
                "
            />
            <p
                class="input-error"
                [class.visible]="checkErrorState(form.controls.passwordRepeat)"
            >
                Это обязательное поле
            </p>
            <p class="input-error" [class.visible]="checkPasswordError()">
                Пароли должны совпадать
            </p>
        </div>

        <app-button buttonType="submit" (click)="register()" size="lg">
            Зарегистрироваться
        </app-button>

        <app-button
            buttonType="button"
            routerLink="/auth/login"
            appearance="flat"
            size="lg"
        >
            Уже есть аккаунт?
        </app-button>
    </form>
</div>
