<div class="container">
    <div class="description">
        <h1 routerLink="/">Пиздодел</h1>
        <p>
            Я хз что тут написать, но
            <strong>можно и жирным</strong>
        </p>
    </div>
    <form [formGroup]="form" class="form">
        <div class="input-group">
            <app-input-control
                placeholder="Имя"
                autocomplete="given-name"
                formControlName="name"
            ></app-input-control>

            <app-input-control
                placeholder="Фамилия"
                autocomplete="family-name"
                formControlName="surname"
            ></app-input-control>
        </div>

        <app-input-control
            placeholder="Придумайте ник"
            formControlName="nickname"
        ></app-input-control>

        <app-input-control
            placeholder="Email"
            type="email"
            formControlName="email"
        ></app-input-control>

        <app-input-control
            placeholder="Введите пароль"
            type="password"
            autocomplete="new-password"
            formControlName="password"
        ></app-input-control>

        <app-input-control
            placeholder="Повторите пароль"
            type="password"
            autocomplete="new-password"
            formControlName="passwordRepeat"
        ></app-input-control>

        <app-button buttonType="submit" (click)="register()" size="lg">
            Зарегистрироваться
        </app-button>

        <app-button
            buttonType="button"
            routerLink="/auth/login"
            appearance="flat"
            size="lg"
        >
            Уже есть аккаунт?
        </app-button>
    </form>
</div>
