table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;

    tr {
        border-bottom: 1px solid #eaeaea;

        &:first-child td {
            font-weight: 700;
            color: #2c2c2c;
        }
    }

    td {
        &:first-child {
            color: #aeaeae;
        }

        &:nth-child(2) {
            width: 100%;
            text-align: center;
        }

        padding: 4px;
        color: #2c2c2c;

        & .column-settings {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            transition: 0.2s;
            color: #3578f6;
            cursor: pointer;

            &:hover {
                background: #e7efff;
            }
        }
    }
}

.column-settings {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.2s;
    color: #3578f6;
    cursor: pointer;

    &:hover {
        background: #e7efff;
    }
}

.add-button {
    margin-top: 20px;
}
