:host {
    display: block;
    position: fixed;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0px;
    z-index: 3;
}

.curtain {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    background: white;

    &__header {
        height: 56px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            width: 100%;
            padding-left: 40px;
            font-size: 18px;
        }
    }

    &__close {
        display: inline-block;
        top: 0;
        right: 0;
        max-width: 56px;
        height: 56px;
        width: 100%;
        color: gray;
        background: white;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 0 12px;

        i {
            font-size: 24px;
            color: #3578f6;
        }

        &:hover {
            background: #3578f6;

            i {
                color: white;
            }
        }
    }
}
