<ng-container *ngIf="curtains$ | async as curtains">
    <div *ngFor="let curtain of curtains" class="curtain" @hiddenCurtain>
        <div class="curtain__header">
            <h3>{{ curtain.title }}</h3>
            <div class="curtain__close" (click)="curtain.completeWith(null)">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="curtain__content">
            <ng-template #curtiainContainer></ng-template>
        </div>
    </div>
</ng-container>
