:host {
    min-height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:last-child {
        border-right: none;
    }

    &.dragover {
        background: rgba(137, 86, 236, 0.06);
    }
}
