<section class="content">
    <p routerLink="/" class="back">
        <i class="fa-solid fa-chevron-left"></i> На гравную
    </p>
    <h1>Настройки</h1>
    <div class="row">
        <div class="menu">
            <app-button appearance="flat" size="lg"
                >Основные настройки</app-button
            >
            <app-button appearance="regular" size="lg">Канбан</app-button>
        </div>
        <div class="settings-content">
            <h3>Основное</h3>
            <p>Основные настройки для канбан-доски</p>
            <h3>Колонки</h3>
            <p>Добавить колонку</p>
            <h3>Задачи</h3>
        </div>
    </div>
</section>
