.content {
    padding-top: 32px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 768px;
        box-sizing: border-box;
        margin: auto;
    }

    @media screen and (min-width: 1025px) {
        width: 1024px;
        margin: auto;
    }
}

.back {
    font-weight: 300;
    color: #c6c6c6;
    margin-bottom: 20px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: #818181;
    }
}

h1 {
    font-size: 32px;
    color: #292929;
}

.row {
    display: flex;
    gap: 32px;
    margin-top: 20px;
    align-items: flex-start;
}

.menu {
    display: flex;
    flex-direction: column;
    min-width: 22%;
    border-radius: 12px;
    gap: 20px;
}

.settings-content {
    width: 100%;
    border-radius: 12px;

    p {
        margin-bottom: 8px;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 8px;
        margin-top: 36px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.add-button {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;

    tr {
        border-bottom: 1px solid #eaeaea;

        &:first-child td {
            font-weight: 700;
            color: #2c2c2c;
        }
    }

    td {
        &:first-child {
            color: #aeaeae;
        }

        &:nth-child(2) {
            width: 100%;
            text-align: center;
        }

        padding: 4px;
        color: #2c2c2c;

        & .column-settings {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            transition: 0.2s;
            color: #3578f6;
            cursor: pointer;

            &:hover {
                background: #e7efff;
            }
        }
    }
}
